<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.singlebbs.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.singlebbs.domain.Permission">
    <result column="id" property="id" />
    <result column="permission_methods" property="permissionMethods" />
    <result column="descript" property="descript" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.singlebbs.domain.Permission" useGeneratedKeys="true">
    insert into permission (permission_methods, descript)
    values (#{permissionMethods,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch">
    insert into  permission (permission_methods, descript) values
    <foreach collection="ps" item="var" separator=",">
      (#{var.permissionMethods},#{var.descript})
    </foreach>
  </insert>
  <delete id="deleteAll">
    delete from permission
  </delete>
<!--  修改一个表的时候子查询不能是这被修改的这个表,所以解决办法是在子查询外面再套一层查询语句就可以了 -->
  <delete id="deleteRepeat">
    delete from permission
    where (permission_methods,descript) in (
      select permission_methods, descript from (
      select permission_methods, descript from permission
      group by permission_methods, descript having count(*) > 1 ) as inner_table
    ) and id not in (
      select kid from (
      select min(id) as kid from permission
      group by permission_methods, descript having count(*) > 1) as keep_id
    )
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_methods, descript
    from permission order by id
  </select>

  <select id="selectPermissions" resultType="java.lang.String">
      select descript from permission_mapping
      where account = #{0} order by id
  </select>
</mapper>