<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.singlebbs.mapper.UserMessageMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.singlebbs.domain.UserMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="port_id" jdbcType="BIGINT" property="portId" />
    <result column="details_id" jdbcType="BIGINT" property="detailsId" />
    <result column="src_alias" jdbcType="VARCHAR" property="srcAlias" />
    <result column="receive_alias" jdbcType="VARCHAR" property="receiveAlias" />
    <result column="receive_date" jdbcType="DATE" property="receiveDate" />
    <result column="auth_flag" jdbcType="BIT" property="authFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_message
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByAccount">
    delete from user_message
    where receive_alias = #{alias} and auth_flag = 1 ORDER BY receive_date LIMIT ${deleteNum}
  </delete>
  <delete id="deleteByAll">
    delete from user_message
    <where>
      <if test="alias != null">
        and receive_alias = #{alias}
      </if>
      <if test="classId != null">
        and class_id = #{classId}
      </if>
      <if test="detailsId != null">
        and details_id = #{detailsId}
      </if>
      <if test="portId != null">
        and port_id = #{portId}
      </if>
    </where>
  </delete>

  <insert id="insertBaych" parameterType="cn.kungreat.singlebbs.domain.UserMessage">
    insert into user_message (class_id, port_id, details_id,
    src_alias, receive_alias, receive_date, auth_flag) values
    <foreach collection="receiveAliasSet" item="var" separator=",">
      (#{classId},#{portId},#{detailsId},#{srcAlias},#{var},#{receiveDate},#{authFlag})
    </foreach>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, class_id, port_id, details_id, src_alias, receive_alias, receive_date, auth_flag
    from user_message where receive_alias = #{alias} and auth_flag = 1
    order by receive_date limit 0,5
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(id) from user_message where receive_alias = #{alias} and auth_flag = 1
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, class_id, port_id, details_id, src_alias, receive_alias, receive_date, auth_flag
    from user_message where id = #{id}
  </select>
</mapper>