<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.singlebbs.mapper.UserReplyPortMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.singlebbs.domain.UserReplyPort">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="reply_year" jdbcType="INTEGER" property="replyYear" />
    <result column="reply_week" jdbcType="INTEGER" property="replyWeek" />
    <result column="reply_number" jdbcType="INTEGER" property="replyNumber" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="img" jdbcType="VARCHAR" property="userImg" />
    <result column="vip_level" jdbcType="INTEGER" property="vipLevel"/>
    <result column="authenticate" jdbcType="VARCHAR" property="authenticate" />
  </resultMap>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.singlebbs.domain.UserReplyPort" useGeneratedKeys="true">
    insert into user_reply_port (user_account, reply_year, reply_week, 
      reply_number)
    values (#{userAccount,jdbcType=VARCHAR}, #{replyYear,jdbcType=INTEGER}, #{replyWeek,jdbcType=INTEGER}, 
      #{replyNumber,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.kungreat.singlebbs.domain.UserReplyPort">
    update user_reply_port
    set reply_number = reply_number+1
    where id = #{id}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from (select id, user_account, reply_year, reply_week, reply_number
    from user_reply_port
    where reply_year=#{replyYear} and reply_week=#{replyWeek} ORDER BY reply_number DESC
    limit 0,12) as user_answer Inner join user us on user_answer.user_account = us.account
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, user_account, reply_year, reply_week, reply_number from user_reply_port
    where reply_year=#{replyYear} and reply_week=#{replyWeek} and user_account=#{userAccount}
  </select>
</mapper>